* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 15px;

  background: linear-gradient(180deg, #f5e6c8 0%, #e8d3a9 50%, #8aa38d 100%);
}

.container {
  width: 100%;
  max-width: 380px;
}


.card {
  background: #fffaf0;
  padding: 30px 25px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
  color: #355f4a;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d6c2a3;
  background: #fff;
  outline: none;
  transition: 0.2s;
  font-size: 14px;
}


select {
  appearance: none;
  cursor: pointer;
}

input:focus,
select:focus {
  border-color: #6b8f71;
  box-shadow: 0 0 5px rgba(107, 143, 113, 0.4);
}


button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background: #6b8f71;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4f6f57;
}


p {
  margin-top: 10px;
}

a {
  color: #4f6f57;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}


.hidden {
  display: none;
}