* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* areia → verde suave */
  background: linear-gradient(180deg, #f5e6c8 0%, #e8d3a9 50%, #8aa38d 100%);
}

.container {
  width: 100%;
  max-width: 350px;
}

/* CARD */
.card {
  background: #fffaf0;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
  text-align: center;
  backdrop-filter: blur(3px);
}

.card h2 {
  margin-bottom: 20px;
  color: #355f4a;
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #d6c2a3;
  background: #fff;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #6b8f71;
  box-shadow: 0 0 5px rgba(107, 143, 113, 0.4);
}

/* BOTÃO */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #6b8f71;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4f6f57;
}

/* LINKS */
a {
  color: #4f6f57;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

/* UTIL */
.hidden {
  display: none;
}